@font-face {
   font-family: AcariSans;
   src: url("AcariSans-ExtraLight.ttf") format("truetype");
   font-weight: 200;
   font-style: normal;
}

@font-face {
   font-family: AcariSans;
   src: url("AcariSans-ExtraLightItalic.ttf") format("truetype");
   font-weight: 200;
   font-style: italic;
}

@font-face {
   font-family: AcariSans;
   src: url("AcariSans-Light.ttf") format("truetype");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: AcariSans;
   src: url("AcariSans-LightItalic.ttf") format("truetype");
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: AcariSans;
   src: url("AcariSans-Regular.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: AcariSans;
   src: url("AcariSans-Italic.ttf") format("truetype");
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: AcariSans;
   src: url("AcariSans-Medium.ttf") format("truetype");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: AcariSans;
   src: url("AcariSans-MediumItalic.ttf") format("truetype");
   font-weight: 500;
   font-style: italic;
}

@font-face {
   font-family: AcariSans;
   src: url("AcariSans-SemiBold.ttf") format("truetype");
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: AcariSans;
   src: url("AcariSans-SemiBoldItalic.ttf") format("truetype");
   font-weight: 600;
   font-style: italic;
}

@font-face {
   font-family: AcariSans;
   src: url("AcariSans-Bold.ttf") format("truetype");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: AcariSans;
   src: url("AcariSans-BoldItalic.ttf") format("truetype");
   font-weight: 700;
   font-style: italic;
}

@font-face {
   font-family: AcariSans;
   src: url("AcariSans-ExtraBold.ttf") format("truetype");
   font-weight: 800;
   font-style: normal;
}

@font-face {
   font-family: AcariSans;
   src: url("AcariSans-ExtraBoldItalic.ttf") format("truetype");
   font-weight: 800;
   font-style: italic;
}
