html, body {
   margin: 0;
   padding: 0;
}

*, *::before, *::after {
   box-sizing: border-box;
}

@media all and (max-width: 400px) {
   html {
      font-size: 10px;
   }
}

@media all and (max-width: 800px) {
   html {
      font-size: 12px;
   }
}

@media all and (max-width: 1200px) {
   html {
      font-size: 14px;
   }
}

@media all and (min-width: 1201px) {
   html {
      font-size: 16px;
   }
}